.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
.food-display-list > * {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.food-display-list > *:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
