.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
    color: black;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
.food-display-list > * {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.food-display-list > *:hover {
    transform: scale(1.05);
}
.no-items-found{
    color:black;
    font-size: 20px;
}
.no-item-img{
    width: 110px;
    height: 110px;
}